@use 'breakpoint' as *;

// Lato font faces
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@layer base {
  p {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    text-wrap: balance;
  }

  h1,
  h2 {
    font-weight: 600;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  h1 {
    font-size: var(--font-size-6);
    line-height: var(--font-size-7);
  }

  h2 {
    font-size: var(--font-size-5);
    line-height: var(--font-size-6);
  }

  h3 {
    font-size: var(--font-size-4);
    line-height: var(--font-size-5);
  }

  h4 {
    font-size: var(--font-size-3);
    line-height: var(--font-size-4);
  }

  h5 {
    font-size: var(--font-size-2);
    line-height: var(--font-size-3);
  }

  h6 {
    font-size: var(--font-size-1);
    line-height: var(--font-size-2);
  }
}
